*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    height: 100%;


}
body{
    display: grid;
    place-items: center;
    background: #131419;
}
.clock{
    background: #131419;
    height: 120px;
    width: 500px;
    padding: 0 5px;
    text-align: center;
    line-height: 120px;
    box-shadow: -3px 3px 7px rgba(255, 255, 255, 0.075),
                3px 3px 5px rgba(0, 0, 0, 10);
}

.clock .display {
    font-size: 60px;
    color:cyan;
    letter-spacing: 5px;
    font-family: 'Orbitron', 
    sans-serif;
}